.Profile {
  position: relative;
  width: 20%;
  height: 100%;
  border-right: 0.25em solid rgba(0, 197, 148, 0.7);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.Profile__section,
.Profile__phone,
.Profile__settings,
form {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Profile__section_phones,
.Profile__settings,
form {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.Profile__settings {
  position: absolute;
  top: calc(100% - 2.5em);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.Profile__settings_open {
  top: calc(100% - 13.75em);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(0, 197, 148, 0.3);
  border: 4px dashed rgba(0, 197, 148, 0.7);
}

.Profile__settings > button,
form > button {
  width: 90%;
  margin-top: 0.5em;
  padding: 0;
  font-size: 1em;
  line-height: 1.25;
  border-color: darkgrey;
  background: rgba(0, 197, 148, 0.6);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.Profile__settings_open > button,
form > button {
  background: lightgrey;
}

.Profile__settings > button:last-of-type {
  margin-bottom: 0.5em;
}

.Profile__settings > button:last-of-type:hover {
  background: #cd0b0b;
  color: #fff;
  font-weight: 600;
}

.Profile__settings-title {
  margin: 0.25em auto;
  font-size: 1.25em;
  line-height: 1;
}

.Profile__input {
  width: 70%;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Profile__name {
  margin: 0.4em 0.2em;
  font-size: 1.3em;
}

.Profile__editButton,
.Profile__removeButton {
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  font-size: 1em;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer;
}

.Profile__removeButton {
  width: 1em;
  height: 1em;
}

.Profile__name_description,
.Profile__pass_label {
  font-size: 0.8em;
  font-style: italic;
  font-weight: 200;
  line-height: 1.25;
}

.Profile__pass-input {
  width: 100%;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  line-height: 1;
}

.Profile__avatar {
  width: 90%;
}

.Profile__editButton_avatar {
  position: absolute;
  width: 90%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.Profile__editButton_avatar:hover {
  opacity: 1;
  background: rgba(255, 255, 255, 0.5);
}

.Profile__email {
  margin: 0.5em;
  font-size: 1em;
}

.Profile__phone-number {
  width: calc(100% - 4em);
  font-size: 1em;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .Profile {
    position: absolute;
    left: 100%;
    z-index: 5;
    width: 100%;
    border: none;
    background: #fff;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
  }

  .Profile_open {
    left: 0;
    overflow: auto;
  }

  .Profile__name {
    font-size: 3em;
  }

  .Profile__editButton,
  .Profile__removeButton {
    width: 3em;
    height: 3em;
  }

  .Profile__editButton_avatar {
    width: 90%;
    height: 100%;
    margin: 0.5em;
    font-size: 1.5em;
  }

  .Profile__section {
    margin-bottom: 1em;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .Profile__input {
    width: 95%;
    font-size: 2em;
    line-height: 1.5;
  }

  .Profile__email {
    font-size: 2.5em;
  }

  .Profile__section_phones > button {
    padding: 0.25em;
    font-size: 2em;
    line-height: 1.5;
  }

  .Profile__phone,
  form {
    width: 90%;
    font-size: 2.5em;
  }

  .Profile__phone > .Profile__editButton,
  .Profile__phone > .Profile__removeButton {
    width: 1.5em;
    height: 1.5em;
    margin: 0 0.5em;
  }

  .Profile__settings {
    position: relative;
    top: auto;
  }

  .Profile__settings > button:first-of-type {
    display: none;
  }

  .Profile__pass-input {
    padding: 1px;
    line-height: 1.15;
  }

  .Profile__settings > button:last-of-type {
    font-size: 2.5em;
    font-weight: 600;
    background: #cd0b0b;
    color: #fff;
    line-height: 1.5;
  }
}
