.Card {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.Card_list {
  margin-bottom: 1em;
}

.Card__avatar {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 50%;
}

.Card__avatar_list {
  width: 10%;
  min-width: 10%;
  height: 100%;
}

.Card__avatar-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.Card__editButton {
  position: absolute;
  right: 100%;
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  font-size: 1em;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.Card__editButton_avatar {
  left: 0;
  right: auto;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  opacity: 0;
}

.Card__editButton_avatar:hover {
  opacity: 1;
  background: rgba(255, 255, 255, 0.5);
}

.Card__description {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.Card__description_list {
  width: 90%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.Card__data-container,
.Card__phone-container {
  position: relative;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.Card__phone-container_list {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-right: 2em;
}

.Card__data-container_list {
  max-width: 50%;
}

.Card__data-container_quote {
  position: absolute;
  bottom: -1.35em;
  left: 0;
  width: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
}

.Card__data-container_list-quote {
  bottom: 0;
  background: rgba(255, 255, 255, 0.4);
}

.Card__data-container:hover .Card__editButton,
.Card__phone-container:hover .Card__editButton {
  right: 0;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.Card__input-container {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.Card__input-container_avatar {
  top: 35%;
  width: 200%;
  height: 30%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: sepia(1);
  backdrop-filter: sepia(1);
}

.Card__input-container_list {
  top: 25%;
  width: 500%;
  height: 50%;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.Card__input-container_phone {
  position: relative;
}

.Card__input-container_list-phone {
  position: absolute;
  width: 70%;
}

.Card__input {
  width: 75%;
  height: 2em;
  padding: 0;
  border: 3px solid #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  line-height: 1;
}

.Card__input-submit {
  width: 2em;
  height: 2em;
  padding: 0;
  border: 3px solid #000;
  font-size: 1em;
}

.Card__data-text {
  width: 100%;
  min-width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Card__phones-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.Card__phones-container_list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
