.Propose {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: alias;
  transition: all .2s linear;
}

.Propose_open {
  position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border: 3px solid rgba(0, 197, 148, .7);
    background-color: #fff;
    cursor: default;
    transition: all .5s ease-in-out;
}

.Propose__preview {
  width: 100%;
  height: 100%;
display: flex;
align-items: center;
}

.Propose__preview_open {
  width: 60%;
  flex-direction: column-reverse;
}

.Propose__avatar {
  min-width: 20%;
    height: 100%;
    border-radius: 50%;
}

.Propose__avatar_open {
  width: 100%;
    border-radius: 0;
    object-fit: contain;
}

.Propose__name {
  margin: 0.5em;
  font-size: 1.5em;
}

.Propose__description{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Propose__close-button {
  margin: 0.5em;
    margin-bottom: 3em;
  align-self: flex-end;
    font-weight: 600;
    text-shadow: -0.5px 0.5px #999;
    color: rgba(0, 197, 148, .7);
cursor: pointer;
}