.Footer {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 197, 148, .7);
}

.Footer__link,
time {
  margin-right: 5px;
  font-size: 1.25em;
  font-weight: 900;
  text-shadow: 2px 2px 2px #000;
  color: #fff;
  text-decoration: none;
}
