.Footer {
  width: 100vw;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 197, 148, 0.7);
}

.Footer__link,
time {
  margin-right: 5px;
  font-size: 1.25em;
  font-weight: 900;
  text-shadow: 2px 2px 2px #000;
  color: #fff;
  text-decoration: none;
}
