.signform {
  max-width: 40%;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  padding-top: 20px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.signform__text {
  margin: auto;
  font-style: normal;
  font-weight: 900;
  font-size: 2rem;
  line-height: 1;
  color: black;
  text-shadow: 1px 1px 2px rgba(0, 197, 148, 0.7);
}

.signform__fieldset {
  position: relative;
  height: 4rem;
  padding: 0;
  margin: 0;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.signform__input,
.signform__input:focus {
  padding: 0;
  margin-top: 2rem;
  border: none;
  border-bottom: 2px solid #cccccc;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1;
  color: #cccccc;
  background-color: #000;
}

.signform__input:-moz-placeholder-shown + .signform__label {
  opacity: 0;
  -webkit-transform: translateY(1rem);
  transform: translateY(1rem);
}

.signform__input:-ms-input-placeholder + .signform__label {
  opacity: 0;
  -webkit-transform: translateY(1rem);
  -ms-transform: translateY(1rem);
  transform: translateY(1rem);
}

.signform__input:placeholder-shown + .signform__label {
  opacity: 0;
  -webkit-transform: translateY(1rem);
  -ms-transform: translateY(1rem);
  transform: translateY(1rem);
}

.signform__label {
  position: absolute;
  top: 0.5rem;
  opacity: 1;
  font-size: 1.4rem;
  font-weight: 900;
  color: #000;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.signform__submit {
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1;
  color: #000000;
  cursor: pointer;
  background: rgba(0, 197, 148, 0.3);
}

.signform__submit:hover {
  opacity: 0.6;
}

.signform__link {
  margin: 1rem auto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1;
  color: black;
}
